
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbe7ed;
}
.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 400px;
  text-align: center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/010/256/694/non_2x/vp-initial-wedding-monogram-logo-vector.jpg');
  background-size: cover;
  background-position: center;
}
.login-container img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
.login-container h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border 0.3s ease;
}
.login-form input:focus {
  border-color: #D14D8D;
}
.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #D14D8D;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.login-form button:hover {
  background-color: #B34275;
}